.college-logo {
    height: 30px;
    width: 90px;
}

.ieee-logo {
    height: 50px;
    width: 50px;
}

.pes-logo{
    height: 50px;
    width: 50px;
}

.pes-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px;
}
